---
import BaseLayout from "../layouts/BaseLayout.astro"

let title = "Gallery";
---
<BaseLayout title = {title}>
<p>Gallery - Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere deserunt nam vero iusto ipsam, neque quis obcaecati cumque ipsa rerum fuga aspernatur repudiandae iure assumenda quas unde consequatur quae adipisci.</p>

</BaseLayout>